<%- include('partials/header.ejs') %> 
<%- include('partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">BLOG DA PROGRAMAÇÃO</h1>
              <p class="lead">Role para baixo para ver nossos artigos</p>
            </div>
          </div>
        <hr>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%- article.title %> </h2>
                </div>
                <div class="card-body">
                    <a href="/<%- article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>
        <% }) %> 
    </div>
</body>
<% include ('partials/footer.ejs') %>